Package: com.modmyi.typophoneweather
Name: Typophone Weather
Priority: optional
Section: Themes
Maintainer: Gustavo Tandeciarz (dcinzona) <gmt@gmtaz.com>
Architecture: iphoneos-arm
Version: 2.0.8.5-7
Description: Beta Typophone Weather
Depends: winterboard
Author: Gustavo Tandeciarz (dcinzona) <gmt@gmtaz.com>
Depiction: 
Homepage: http://typophone.gmtaz.com
