body {
    margin: 0;
    padding: 278px 0 0 0;
    height: 480px;
    width: 320px;
	background-image:url('LockBackground.png');
/*	background-image:url('/private/var/mobile/Library/SpringBoard/LockBackground.jpg');*/
	background-size: 61%;
    background-repeat: no-repeat; /* can be removed, only for test purpose */
	background-color:black;
	color:white;
	text-shadow:0px 0px 5px black;
	font-family:"helvetica";
}
#loader
{
	background:url("ajax-loader.gif") no-repeat scroll center center black;
	display:none;
	height:80px;
	left:120px;
	opacity:0.8;
	position:absolute;
	top:300px;
	width:80px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
#loader.visible
{
	display:block;
}
#timeWrap
{
	top:1px;
	position:absolute;
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-webkit-transform: translateY(1px);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
	background-color:black;
	display:block;
	height:280px;
	overflow:hidden;
	width:320px;
}
#timeWrap.showSelector
{
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-webkit-transform: translateY(-100px);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
	border-bottom:solid 1px #303030;
}
#locationSelectorBG
{
	position:absolute;
	height:94px;
	display:block;
	top:181px;
	width:320px;
	background:transparent url('linen.png') no-repeat center;
}
#locationSelector
{
	display:block;
	height:94px;
	padding-top:38px;
	position:absolute;
	top:176px;
	width:1600px;
	-webkit-transform: translateX(0px);
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
	-moz-box-shadow:inset 0 0 10px #000000;
}
#locationSelector span
{
	text-shadow:0 0 5px black;
	width:220px;
	font-weight:bold;
	text-align:center;
	font-size:1.2em;
	display:inline-block;
	opacity:.7;
}
.location
{
	text-overflow: ellipsis;
	margin:0px 50px;
	overflow: hidden;
	white-space:nowrap;
}
#locationSelector span.active
{
	text-shadow:0 0 10px black;
	font-size:1.5em;
	opacity:1;
}
.locationArrows
{
	position:absolute;
	width:55px;
	height:94px;
	display:none;
	top:183px;
}
#locationLeft
{
background:url('left.png');
left:0px;
}
#locationLeft.visible, #locationRight.visible
{
	display:block;
}
#locationRight
{
background:url('right.png');
left:265px;
}
#day {
    top:177px;
    left:135px;
}

#dayNumeric {
    top:175px;
    left:-18px;
}

#month {
    top:121px;
    left:3px;
}

#year {
    top:208px;
    left:130px;
}

#divtable {
    top: -165px;
    left: -27px;
    height: 461px;
}

#hr1, #hr2, #mn1, #mn2 {
    width:77;
    height:100;
}

#ampm {
    width:40;
    height:85;
}

#unlock {
	top:422px;
    left:175px;
}
.weatherCity, .weatherCurrently
{
	left:100px;
	width:250px;
}
.weatherTemp
{
	font-size:5em;
	left:100;
	width:250px;
	top:35px;
}
.weatherTempHighLow
	{
		font-size:2.0em;
		left:100;
		width:250px;
		top:38px;
	}
#weather1Low, #weather2Low
{
	font-size:.8em;
	position:relative;
	top:-12px;
}
.label
{
	width:80px;
	display:inline-block;
}
.bold
{
	font-size:1.4em;
	font-weight:bold;
}
.weatherCurrently
{
	top:120px;
}
.weatherThumb
{
	top:10px;
}

#weather .weatherSection
{
	position:relative;
	float:left;
	width:320px;
	height:200px;
	top:-15px;
}

#weather{
	top:275px;
	height:400px;
	width:1600px;
	position:absolute;
	-webkit-transition-property: -webkit-transform, opacity;
	-webkit-transition-duration: .3s, .2s;
	-webkit-timing-function: ease-in-out, ease-in-out;
	-webkit-transform: translateY(275px);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
	background:black;
	display:block;
	opacity:1;
}
#weather.loading
{
	opacity:.4;
}
#weather.forecast0
{
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-webkit-transform: translateX(0px);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}
#weather.forecast1
{
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-webkit-transform: translateX(-320px);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}
#weather.forecast2
{
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-webkit-transform: translateX(-640px);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}
	#weather.showSelector
	{
		-webkit-transform: translateX(0px);
		border-top:solid 1px #303030;
		top:274px;
	}
.weatherCurrently, .weatherThumb, .weatherCity, .weatherTemp, .weatherTempHighLow{
	position:absolute;
	text-shadow:0px 0px 5px black;
}
#day, #dayNumeric, #month, #year, #divtable, #mainDiv, #unlock { 
	position:absolute; 
	background:black;
	}
#unlock.faded
{
	opacity:.4;
}
@-webkit-keyframes opacity {
	0% {
		opacity:1;
	}
	50% {
		opacity:.4;	
	}
	100% {
		opacity:1;
	}
}
	
#unlock {
	-webkit-animation-name: opacity;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: 60;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}

	
