body {
    margin: 0;
    padding: 278px 0 0 0;
    height: 480px;
    width: 320px;
	background-image:url('LockBackground.png');
/*	background-image:url('/private/var/mobile/Library/SpringBoard/LockBackground.jpg');*/
	background-size: 61%;
    background-repeat: no-repeat; /* can be removed, only for test purpose */
	background-color:black;
	color:white;
	text-shadow:0px 0px 5px black;
	font-family:"helvetica";
}
#loader
{
	background: transparent url('ajax-loader.gif') no-repeat center;
	width:50px;
	height:50px;
	position:absolute;
	top:300px;
	left:150px;
	display:none;
	opacity:.8;
}
#timeWrap
{
	top:1px;
	position:absolute;
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-webkit-transform: translateY(1px);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
	background-color:black;
	display:block;
}
#timeWrap.locations
{
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-webkit-transform: translateY(-60px);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

#locationSelector
{
	position:absolute;
	height:30px;
	display:block;
	top:240px;
	width:1600px;
	-webkit-transform: translateX(10px);
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}
#locationSelector span
{
	width:320px;
	text-align:center;
	font-size:1.2em;
	display:inline-block;
}
#locationSelector span.active
{
	font-size:1.3em;
	font-weight:bold;
}
.locationArrows
{
	position:absolute;
	width:30px;
	height:30px;
	display:none;
	top:240px;
}
#locationLeft
{
background:url('left.png');
left:0px;
}
#locationLeft.visible, #locationRight.visible
{
	display:block;
}
#locationRight
{
background:url('right.png');
left:290px;
}
#day {
    top:177px;
    left:135px;
}

#dayNumeric {
    top:175px;
    left:-18px;
}

#month {
    top:121px;
    left:3px;
}

#year {
    top:208px;
    left:130px;
}

#divtable {
    top: -165px;
    left: -27px;
    height: 461px;
}

#hr1, #hr2, #mn1, #mn2 {
    width:77;
    height:100;
}

#ampm {
    width:40;
    height:85;
}

#unlock {
	top:422px;
    left:175px;
}
#weather{
	top:260;
	width:1600px;
	position:absolute;
}
.weatherCity, .weatherCurrently
{
	left:100px;
	width:250px;
}
.weatherTemp
{
	font-size:5em;
	left:100;
	width:250px;
	top:35px;
}
.weatherTempHighLow
	{
		font-size:2.0em;
		left:100;
		width:250px;
		top:38px;
	}
#weather1Low, #weather2Low
{
	font-size:.8em;
	position:relative;
	top:-12px;
}
.label
{
	width:80px;
	display:inline-block;
}
.bold
{
	font-size:1.4em;
	font-weight:bold;
}
.weatherCurrently
{
	top:120px;
}
.weatherThumb
{
	top:0;
}

#weather .weatherSection
{
	position:relative;
	float:left;
	width:320px;
	height:200px;
}

#weather.forecast0
{
	/*left:-320px;*/
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-webkit-transform: translateX(0px);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}
#weather.forecast1
{
	/*left:-320px;*/
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-webkit-transform: translateX(-320px);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}
#weather.forecast2
{
	/*left:-320px;*/
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-webkit-transform: translateX(-640px);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}
.weatherCurrently, .weatherThumb, .weatherCity, .weatherTemp, .weatherTempHighLow{
	position:absolute;
	text-shadow:0px 0px 5px black;
}
#day, #dayNumeric, #month, #year, #divtable, #mainDiv, #unlock { 
	position:absolute; 
	background:black;
	}
