body {
    margin: 0;
    padding: 278px 0 0 0;
    height: 480px;
    width: 320px;
	background-image:url('LockBackground.png');
/*	background-image:url('/private/var/mobile/Library/SpringBoard/LockBackground.jpg');*/
	background-size: 61%;
    background-repeat: no-repeat; /* can be removed, only for test purpose */
	background-color:black;
	color:white;
}

#day {
    top:177px;
    left:135px;
}

#dayNumeric {
    top:175px;
    left:-18px;
}

#month {
    top:121px;
    left:3px;
}

#year {
    top:208px;
    left:130px;
}

#divtable {
    top: -437px;
    left: -27px;
    height: 461px;
}

#hr1, #hr2, #mn1, #mn2 {
    width:77;
    height:100;
}

#ampm {
    width:40;
    height:85;
}

#unlock {
	top:422px;
    left:175px;
}
#weather{
	top:260;
	font-family:"helvetica";
	width:1600px;
	position:absolute;
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-webkit-transform: translateX(0px);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}
.weatherCity, .weatherCurrently
{
	left:100px;
	width:250px;
}
.weatherTemp
{
	font-size:5em;
	left:100;
	width:250px;
	top:35px;
}
.weatherTempHighLow
	{
		font-size:2.6em;
		left:100;
		width:250px;
		top:42px;
		font-weight:bold;
	}
#weather1Low
{
	font-size:.8em;
	position:relative;
	top:-9px;
}
.weatherCurrently
{
	top:120px;
}
.weatherThumb
{
	top:0;
}
#weather .weatherSection
{
	position:relative;
	float:left;
	width:320px;
	height:200px;
}
#weather.forecast
{
	/*left:-320px;*/
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-webkit-transform: translateX(-320px);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}
.weatherCurrently, .weatherThumb, .weatherCity, .weatherTemp, .weatherTempHighLow{
	position:absolute;
	text-shadow:0px 0px 5px black;
}
#day, #dayNumeric, #month, #year, #divtable, #mainDiv, #unlock { 
	position:absolute; 
	text-shadow:0px 0px 5px black;
	}
